*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    overflow: hidden;
}

.loading-screen {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    margin-left: -50vw;
    margin-top: -50vh;
    z-index: 9999;
    background-color: #9fcffb;  
    display: flex;
    justify-content: center; 
    align-items: center;
}

.loading-screen-button {
    padding: 1rem 3rem;
    font-size: 3rem;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    background-color: transparent;
    outline: none;
    color: #fdfeff;
    border-radius: 0.8em;
    border: none;
    letter-spacing: 0.05em;
    z-index: 11;
}

.wave {
    position: absolute;
    bottom: -10vh;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10;
}

.wave svg {
    width: 100%;
    height: auto;
    display: block;
}
