*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    /* height: 100%;
    width: 100%; */
    top: 0;
    left: 0;
    outline: none;
    overflow: hidden;
}

.loading-screen {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    margin-left: -50vw;
    margin-top: -50vh;
    z-index: 9999;
    background-color: #9fcffb;  
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.loading-screen-button {
    padding: 1rem 3rem;
    font-size: 3rem;
    background-color: transparent;
    outline: none;
    color: #fdfeff;
    border-radius: 0.8em;
    border: none;
}

/* .loading-screen-button {
  padding: 1rem 3rem;
  font-size: 3rem;
  background: linear-gradient(to right, #bee0ff 50%, #D80286 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  outline: none;
  color: #28679bff;
  border-radius: 0.8em;
  border: 8px solid #28679bff;
  transition:
    background-position 0.5s ease,
    transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  cursor: pointer;
} */

